/* 안내문구 */
.message {
    width: 30%;
    height: 50px;
    color: #FFFFFF;
    background-color: #858585a4;
    border-radius: 30px;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 인식버튼 */
.btn-camera {
    background-color: transparent;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.btn-camera {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* 인식버튼 위치 */
.btn-camera {
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 이미지 불러오기 버튼 위치 */
.btn-image {
    top: 85%;
    left: 43%;
    transform: translate(-50%, -50%);
}

/* 버튼 이미지 스타일 */
.btn-image img {
    display: block;
}

/* 버튼 스타일 */
.btn img {
    opacity: 0.5;
}