body {
    overflow: hidden;
}

/* 안내문구 */
.message {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.btn-camera,
.btn-image {
    background-color: transparent;
    border: none;
    margin: 10px;
    cursor: pointer;
}

/* 인식버튼 및 이미지 불러오기 버튼 */
.btn-camera,
.btn-image {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* 인식버튼 위치 */
.btn-camera {
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 이미지 불러오기 버튼 위치 */
.btn-image {
    top: 85%;
    left: 43%;
    transform: translate(-50%, -50%);
}

/* 버튼 이미지 스타일 */
.btn-camera img,
.btn-image img {
    display: block;
}

/* 버튼 스타일 */
.btn img {
    opacity: 0.5;
}