/* 안내문구 */
.message {
    width: 30%;
    height: 50px;
    color: #FFFFFF;
    background-color: #858585a4;
    border-radius: 30px;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 인식버튼 */
.btn-camera,
.btn-image {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* 버튼 스타일 */
.btn-camera {
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-image {
    top: 85%;
    left: 43%;
    transform: translate(-50%, -50%);
}

/* 버튼 형태가 보이지 않게 삭제 */
.btn-camera img,
.btn-image img {
    display: block;
}