/* 폰트 적용 */
body {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 배너 */
#banner-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 400px;
  margin-top: 10px;
}

/* 배너 이미지 */
.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0.7;
  transition: opacity 1s ease-in-out;
}

/* 하단 */
.bottom-part {
  width: 100%;
  height: 500px;
}

.array {
  width: 100%;
  justify-content: space-around;
  display: flex;
}

/* nav 왼쪽 */
.leftzone {
  margin-left: 10%;
  width: 40%;
  height: 500px;
  padding: 5%;
  padding-left: 10%;
  opacity: 0;
}

/* nav 이미지 */
.leftzone-image {
  width: 100%;
  height: auto;
}

/* nav 오른쪽 */
.rightzone {
  width: 50%;
  height: 400px;
  padding: 5%;
  padding-right: 10%;
  padding-top: 7%;
  opacity: 0;
}

/* nav 텍스트 */
.textzone {
  width: 100%;
  height: 400px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: -70px;
}

.textzone div {
  width: 100%;
}

.earth-responsibility b {
  color: #4CACBC;
}

/* 풋터 */
.footer {
  margin-top: 200px;
  background-color: #d2d2d2;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* 풋터 내용 */
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

/* 중간 내용 */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.conatiner-1,
.conatiner-2,
.conatiner-3 {
  text-align: center;
}

.conatiner-1 img,
.conatiner-2 img,
.conatiner-3 img {
  width: 55%;
  display: block;
  margin: 0 auto;
}

/* 중간 부분 설명 */
.context {
  margin-left: 20%;
  margin-top: 5%;
}

#context-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 1%;
}

#context {
  letter-spacing: 1px;
  line-height: 25px;
}

.context button {
  margin-top: 1%;
  width: 200px;
  height: 50px;
  background-color: #dcdcdc;
  border: 1.3px solid #00000000;
  border-radius: 5px;
}