body {
  font-family: 'Jua', sans-serif;
}


#banner-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 400px;
  margin-top: 10px;
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; 
  opacity: 0.7;
  transition: opacity 1s ease-in-out;
}

.bottom-part {
  width: 100%;
  height: 500px;
}

.array {
  width: 100%;
  justify-content: space-around;
  display: flex;

}
.leftzone {
  margin-left: 10%;
  width: 40%;
  height: 500px;
  padding: 5%;
  padding-left: 10%;
  opacity: 0;
}
.leftzone-image {
  width: 100%; /* 레프트존의 너비에 맞춰 이미지 크기 조정 */
  height: auto; /* 이미지의 원래 비율을 유지하면서 높이 조정 */
  /* left: -50%; */

}

.rightzone {
  width: 50%;
  height: 400px;
  padding: 5%;
  padding-right: 10%;
  padding-top: 7%;
  opacity: 0;
}

.textzone {
  width: 100%;
  height: 400px;
  font-size: 25px;
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
  margin-left: -70px; /* 텍스트존을 왼쪽으로 이동, 필요에 따라 값 조정 */
}

.textzone div {
  width: 100%; /* 내부 div가 부모 요소의 전체 너비를 차지하게 함 */
}



.earth-responsibility b {
  color:#4CACBC;
}


@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.footer {
  margin-top: 200px;
  background-color: #6CC4A1;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.social-icon {
  vertical-align: middle; /* 이미지와 텍스트를 수직 가운데 정렬 */
}

